 


   <%= render "header/header" %>
  <div class="colmask doublepage">
<table style="float:left;background-color:gray"><tr><td height="600px">
</td></tr></table> 
 <div style="margin-left:4%"> 
	
        <div class="colleft">			
            
<div class="col1">
<p>&nbsp;<br>Руский мат не вчера родился и, как любое выдержавшее проверку временем сооружение, зиждется на трёх китах.</p><p>
Во-1-х, (джентельменски пропуская вперёд женский род) это слово обозначающее женский половой орган, 
 скажем,  whale_1, а короче w1.

 </p><p>Вторым китом, натурально, становится слово используемое для наименования мужского полового органа, 
 его укоротим до w2.
  </p><p>Логическим  завершением, третьим членом данного китового стада - w3 - стало, есть и будет слово
  обозначающее естественное взаимодействие двух вышеперечисленных представителей данного основополагающего триумкитата.
  </p>
 <p align="center"><table style="background-color:#c0c0c0;"><caption style="background-color:#c0c0c0;padding:8px">картинка 1: <br><em>Загадка истории - формула руского мата:<br> w1 + w2 = w3,<br> в роли украшения мостовой средневекового итальянского дворика.</em>   </caption>
 <tr><td><%= image_tag "xyz.jpg", :style=>"align:center" %></td></tr>
</table>
</p>
      	<p>

 В ходе исторического процесса носители языка неоднократно использовали все и каждое из трёх основных матерных слов для
обозначения объектов и явлений зачастую весьма удалённых от сферы межполового сношения.
	</p><p>
	Употребления данных слов ["w1", "w2", "w3"] за пределами их прямого смысла, стирая изначальные значения, довёл их до   многозначности на грани утраты всякого смысла, помимо передачи эмоционального состояния говорящего и исполнения одной из двух функций любого звукопроизводства любым живым существом: отпугнуть, или приманить.
		</p><p>
Вместе с тем, присущая рускому языку система словообразования посредством смыслоносной пре-

и постфиксации привела к появлению от ровным счётом трёх

корней несметного числа матершинных производных  способных выразить тончайшие оттенки смысла.</p><p>
В. Даль немало их, наверняка, встречал, но придерживаясь правил приличия, скороговорочно определил мат как "площадную грубую брань". </p>
  
 </div>
<div class="col2">
    	<table style="float:right;padding:3px;margin-top:4px;padding:8px;"><caption style="background-color:#c0c0c0;">
    	картинка 2:<br> <em>Нарукавный шеврон парадной формы военных строителей.<br>&nbsp;</em>   </caption>
 <tr><td><%= image_tag "shevron.gif" %></td></tr>
</table>
<p><br>&nbsp;<br></p>
<p>За истёкшие век-полтора, мат так 
и остался табу – чем-то запретным к употреблению, кроме как в узком кругу закадычных приятелей. </p><p><i>(Правда, нынче  некоторые его составляющие нередко используют для увеселения публики.<br>
Когда табу - нечто общечтимое - шлёпается рылом в слякоть, то у определённой части населения вырывается здоровый хохот типа «бу-гы-гы!». Этим-то приёмом и кормятся господа хохмачи-телезатейники.)
</i></p>
              
А сказать по чести,
мат есть неотъемлемой       - плоть от плоти - частью руского языка и чистоплюйские попытки разделить

язык на бранный и пристойный равносильна сегрегации людей по цвету кожи.</p><p>

В конечном счёте, всё решает интонация -  нейтральнейшее наименование произнесенное  с

презрением или ненавистью куда отвратней восхищённого матюка.<p>
Язык, он не просто средство общения, а скорее набор инструментов для общения и увы мастеру, у

которого в нужный момент не окажется под рукой гвоздодёра или, там, шлямбура.</p>



<p>
Важность мата для жизни любого вида - <ul><li><u>боевой</u>&nbsp;&nbsp;(<i>"...да я матом вышибал страх из людей и гнал под кинжальный огонь пулеметов!..</i>"), </li><li>
<u>трудовой</u> &nbsp;&nbsp;("<i>... с помощью зубила, молотка и распротакой матери побил все рекорды..."),</i></li><li> <u>половой</u> &nbsp;&nbsp;(<i>стимулирующие качества мата в области любовных игр настолько неоспоримы, что я на 100%  согласен с наивным высказыванием будто в Советском Союзе не было секса - истинно, истинно говорю вам! - вместо секса тогда занимались еблей)</i></li></ul>

не требует долгих доказательств и  давно назрела необходимость повернуться к мату лицом и разобраться с ним как с лингвистической вариацией, вместо того, чтобы его замалчивать, зашикивать, поворачиваться спиной и прятать голову в песок - весьма, заметим к слову, неосмотрительная позиция, с учётом наличия хохмачествующих штукарей.
</p><p>Mат, как любая иная грань языка заслуживает уважения, философского осмысления,

фундаментальных исследований и популярного изложения.</p><p>
B этом свете база данных "мат стройбата" является эмпирио-хронологическим срезом матерной части руского

языка во второй половине ХХ века, в том виде, каковой она предстала автору этих строк в

королевских войсках Советской Армии (таким было  неофициальное название её военно-строительных отрядов, а короче - стройбатов, в 73-75 г.г. прошлого века).

</p>

<p align="center">
 <%= link_to "Вход в мат стройбата",  go_path, class: "btn btn-large btn-primary" %>


</p><p align="center">
<%=image_tag "shevron.gif", :style => "width:28px;"%>  Приятно-полезного вам времяпрепровождения! <%=image_tag "shevron.gif", :style => "width:28px;"%>  

    	
        <!--end bodyblock --></div>		</div>		
    <!--end shadow --></div>
<%= render "footer/footer" %>

        